.App {
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 100%;
    padding: 80px 0;
}

@media screen and (max-width: 800px) {
    .App {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 80px 0 0 0;
    }
}